#background{
    background-image: linear-gradient(#2b0080,#350080,#400080,#4b0080,#550080,#600080,#550080,#4b0080,#400080,#350080,#2b0080);
    color: white
  }

h3{
  color: #350080;
}
#heading-content{
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
}
.personality{
  width: 256px;
  height: 239px;
}
.btn{
  font-size: 20px;
}