  body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }

  #main-heading{
      font-size: 80px;
  }

  .hover-quote-hide {
    display: none;
  }
  
  .hover-quote:hover + .hover-quote-hide {
    display: block;
    color: red;
  }

  h2{
    font-weight: 800;
    text-align: center;
  }
 
  h1{
    font-weight: 900;
    text-align: center;
  }
  
  h4{
    font-weight: 600;
    text-align: center;
  }
  
  h3{
    font-weight: 700;
    text-align: center;
  }
  
  .card{
    font-size: 16px;
    color: black;
    width: 100%;
  }
  
  .btn-primary{
    font-size: 16px;
  }
  
  #inBox{
    border-radius: 20px;
    background: white;
    font-size: 16px;
    width: 100%;
    padding: 10px;
  }
  
  td{
    margin-right: 10px;
    padding: 10px;
  }
  .accordion{
      margin: 50px;
      color: black
  }
  .accordion-button-blue{
      background-color: rgb(96, 209, 253);
  }
  .accordion-button-green{
        background-color: rgb(97, 247, 122);
  }
  .accordion-button-yellow{
        background-color: rgb(255, 255, 145);
  }
  .accordion-button-red{
      background-color: rgb(238, 155, 122);
  }
  table{
      width: 100%;
      padding: 40px;
  }
  #page-end{
    background: #f3f3f3;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #page-end a{
    text-decoration: none;
    color: rgb(88, 88, 88)
  }
  #page-end a:hover{
    text-decoration: underline;
    color: black;
  }
  #page-end td{
    vertical-align: top;
    width: 20%;
  }
  #center{
    text-align: center;
  }
  #exp-heading{
    font-size: 16px;
    font-weight: 800;

  }
  #content{
    margin-left: 20%;
    margin-right: 20%;
  }
  .solid{
    border-top: 3px, solid, grey;
  }
